@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  cursor: pointer;
  padding-bottom: 5px;
}
a:hover {
  border-bottom: 2px solid #fff;
}
.header {
  padding-top: 45px;
  position: absolute;
  color: #fff;
  width: 100%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.logo {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.header-wrapper {
  display: flex;
  justify-content: space-around;
}
.nav-menu {
  margin-left: 165px;
  display: flex;
  gap: 80px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
/* Hero section */
.hero {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 822px;
  padding-top: 250px;
}

.hero-inner {
  text-align: center;
  display: block;
}
.hero-img {
  margin-bottom: 20px;
}
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 42px;
}
.hero-text {
  font-size: 24px;
  max-width: 430px;
  opacity: 0.7;
  margin: 0 auto;
  line-height: 133%;
  color: white;
}

.main-info {
  color: #464547;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.main-title {
  margin-bottom: 40px;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.main-subtitle {
  color: #666666;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 42px;
}

.text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.main-text {
  color: black;
  margin-bottom: 10px;
}
.main-btn {
  font-family: 'Oswald', sans-serif;
  font-weight: regular;
  padding: 5px 20px;
  color: white;
  background-color: #55c2d8;
  border-radius: 18px;
  width: 116px;
  height: 36px;
  margin-top: 50px;
}
/* Learning section */
.learning {
  background-image: url(../images/learning-bg.jpg);
  background-color: rgba(140, 79, 42, 0.3);
  background-blend-mode: multiply;

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}
.learning-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.learning-btn {
  background-color: #55c2d8;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 60px;
  padding: 0 60px;
  margin-bottom: 70px;
}
.learning-text {
  max-width: 390px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
}

/* footer */
.footer {
  background-color: #464547;
  padding: 15px 0 30px;
}

.footer-logo {
  margin-right: 10px;
  margin-bottom: 12px;
}

.footer .logo {
  display: inline;
}

.address,
.email,
footer .text {
  color: #fff;
  opacity: 0.4;
}
